<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link type="text/css" rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>

<body>