</html><!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link type="text/css" rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>

<body>

	<div class="ui billboard test ad" data-text="Tally your vouchers with Tallify">		
	</div>
	<div class="ui container">
			<a href="users/login" class="ui small button" id="login_button"> Login
			</a>
			<a href="users/new" class="ui small button" id="register_button"> Register as new user
			</a>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
</body>
</html>