<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
</head>
<body>

<div id="box">
	<div id="innerbox">
		<div class="ui text" id="description">
			<p>Tally your vouchers with Tallify and don't let another one expires on you!</p>

			<div class="ui container">
				<div id="buttons">
					<a href="users/login" class="ui mini button" id="login_button"> Login
					</a>
					<a href="users/new" class="ui mini button" id="register_button"> Don't have an account?
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
<div id="footer">© Tallify, Inc
</div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
</body>
</html>