<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link type="text/css" rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>
	<div class="ui container">
		<h1>Welcome to Tallify! Start your journey with us by creating an account</h1>
		<form method="POST" action="/users/create">
			<div class="user-attribute">
				Preferred Name:
				<input name="name" type="text">
			</div>
			<div class="user-attribute">
				Email Address:
				<input name="email" type="text">
			<div class="user-attribute">
			</div>
				Password:
				<input name="password" type="text">
			</div>
			<input type="submit">
		</form>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
</body>
</html>