<!DOCTYPE html>
<html>
<head>
	<title>Add new vouchers</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
</head>
<body>
	<div class="ui container">
		<div id="logonform">
			<form class="ui tiny form" method="POST" action="/vouchers/main">
				<div> 
					<div id="addvoucherheader">Add a new voucher</div>
				</div>
					<select class="ui dropdown" name="company_id" id="addvoucher_vouchername" data-style="btn-info">
						<option name="company_id"  value="">Voucher Issuer</option>
						<option name="company_id"  value="1">NTUC</option>
						<option name="company_id" value="2">Takashimaya</option>
					</select>
					<br>
					<div class="field">
						<div class="inline fields" id="value_box">
							<div class="six wide field required">
								<input type="text" placeholder="Value in $" name="value">
							</div>
							<div class="eight wide field">
								<input type="text" placeholder="Expiry Date" name="expiry_date">
							</div>
						</div>
					</div>
						<div class="field">
						<div class="inline fields">
							<label>Voucher Type</label>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="voucher_type" value="hardcopy" tabindex="0" class="hidden">
									<label>Hardcopy Voucher</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="voucher_type" value="gift_card" tabindex="0" class="hidden">
									<label>Gift Card</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="voucher_type" value="e-voucher" tabindex="0" class="hidden">
									<label>E-voucher</label>
								</div>
							</div>
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" name="voucher_type" value="e-card" tabindex="0" class="hidden">
									<label>E-gift Card</label>
								</div>
							</div>
							</div>
						</div>

						<div class="field">
							<label >Remarks</label>
							<div id="remarks">
							<textarea name="remarks" rows="2" ></textarea>
						</div>
					</div>
						<input id="submit_voucher" class="ui submit button" type="Submit">
					</form>
				</div>
			</div>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript">$('select.dropdown') .dropdown();</script>
<script type="text/javascript">$('.ui.radio.checkbox')
  .checkbox()
;</script>
<script type="text/javascript">
	$('#company_id option:selected').value()
</script>
</body>
</html>