<!DOCTYPE html>
<html>
<head>
	<title>Add new vouchers</title>
	<link type="text/css" rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>
	<div class="ui container">
		<h1>Update your vouchers</h1>
		<form class="ui tiny form" method="POST" action="/vouchers/main">
			<select class="ui dropdown">
			  <option value="">Voucher Issuer</option>
			  <option value="1">NTUC</option>
			  <option value="0">Takashimaya</option>
			</select>
			<br>
			<div class="field">
			    <label>Details</label>
			<div class="inline fields">

				<div class="three wide field required">
					<input type="text" placeholder="Issuer" name="company_id">
				</div>
				<div class="three wide field required">
					<input type="text" placeholder="Value in $" name="value">
				</div>
				<div class="five wide field">
					<input type="text" placeholder="Expiry Date" name="expiry_date">
				</div>
			</div>

			  <div class="inline fields">
			    <label>Form of voucher</label>
			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="hardcopy" tabindex="0" class="hidden">
			        <label>Hardcopy</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="card" tabindex="0" class="hidden">
			        <label>Gift card</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="e-voucher" tabindex="0" class="hidden">
			        <label>E-voucher</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="e-card" tabindex="0" class="hidden">
			        <label>E-gift card</label>
			      </div>
			    </div>
			  </div>

			<div class="field">
				<label >Remarks</label>
				<textarea name="remarks" rows="2" ></textarea>
			</div>
			<input class="ui submit button" type="Submit">
		</div>
	</form>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<!-- <script src="$('select.dropdown') .dropdown();"></script> -->
</body>
</html>