/*///////For user module \\\\\\\\*/

.userlogin {
	text-align: center;
}

#login_button, #register_button, #add_voucher, #logout_button {
	font-family: 'Petit Formal Script', cursive;
}

#buttons {
	position: absolute;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 70px;
	font-size: 12px;
}

#description {
	background-color: white;
	opacity: 0.9;
	width: 400px;
	height: 150px;
	margin: 0 auto;
	top:80px;
	padding: 10px;
	font-family: 'Petit Formal Script', cursive;
	font-size: 15px;
}

#footer {
	text-align: left;
	padding: 10px;
	font-size: 10px;
}

#background_logos {
	background-image: url("/companies_logo.jpg");
    background-size: cover;
    height: 650px;
    z-index: 3;
    opacity: 0.2;
}

#logout_message {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 70px;
}
/*///////For voucher module \\\\\\\\*/

#logonform {
	width: 400px;
	margin: 0 auto;
	border: 1px solid lightgrey;
	top: 100px;
	background-color: #FFFAF0;
	border-radius: 25px;
}

#emaillogin, #passwordlogin, #submitlogin, #preferredname, #submit_voucher {
	margin: 10px;
	width: 300px;
	font-family: 'Petit Formal Script', cursive;

}

.sample_voucher {
	text-align: center;
}

#cards {
	width: 600px;
}

div p, div {
	position: relative;
	text-align: center;
}
p {
	position: absolute;
	top: 10px;
	text-align: center;
	font-family: 'Petit Formal Script', cursive;

}

.vouchers, #vouchers {
	/*font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Oxygen', sans-serif;*/
	font-family: 'Petit Formal Script', cursive;
	font-size: 10px;

}
#vouchers{
	opacity: 0.5;
}

#box {
	margin: 0 auto;
	height: 330px;
	margin: 0 auto;
	padding-top: 13px;
	padding-bottom: 10px;
	background-image: url("/tag4.jpg");
    background-size: cover;

}

#message2 {
	top: 50px;
}

#columngrid {
	width: 700px;
	margin: 0 auto;
}

#issuer, #expirydate, #vouchertype {
	text-align: left;
	font-family: 'Oxygen', sans-serif;
}

#add_voucher {
	text-align: center;
}

#addvoucherheader {
	margin: 10px;
	font-family: 'Petit Formal Script', cursive;
	font-size: 15px;
}

.ui.dropdown{
	width: 291px;
}

#value_box {
	margin-left: 50px;
	margin-top: 10px;
}

.inline.fields>label, .ui.radio.checkbox label, .ui.form .field>label {
	font-size: 10px;
	font-family: 'Petit Formal Script', cursive;
}

.ui.radio.checkbox label, .ui.form .field>label {
	font-weight: 700px;
}

#remarks {
	width: 300px;
	margin: 0 auto;
}

#usedVoucher {
	
}
